<!DOCTYPE html>
<html>
<head>
  <title>Footballify</title>
  <%= stylesheet_link_tag    "footballify/application", :media => "all" %>
  <%= javascript_include_tag "footballify/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
